body {
    margin: 0px;
    overflow: hidden;
    background: #000;
}

#title {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0%);
	text-align: center;
    color: #FAA;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 100%;
}

#instructions {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 0%);
    color: #AAA;
    text-align: center;
    padding: 15px 32px;
    font-size: 20px;
    margin: 4px 2px;
}

#startbutton {
    background-color: #fdd;
    border: 5px solid #f22;
    color: #f22;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

#startbutton:hover {
    background-color: #f22;
    border: 5px solid #222;
    color: #222;
    text-align: center;
    display: inline-block;
    padding: 17px 35px;
    font-size: 44px;
    margin: 4px 2px;
    cursor: pointer;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	z-index: 100;
    color: #f22;
    font-size: 40px;
}

#overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	z-index: 100;
    color: white;
    font-size: 40px;
}

#lefthud {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 4px 4px 4px 12px;
    color: #FBB;
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 20%;
	text-align: left;
	z-index: 100;
    font-size: 40px;
}

#righthud {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 4px 12px 4px 4px;
    color: #FBB;
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 20%;
	text-align: right;
	z-index: 100;
    font-size: 40px;
}
